/*::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/
::selection {
  background: rgba(48, 183, 29, 0.8);
  color: #eee;
  text-shadow: none;
}

::-moz-selection {
  background: rgba(48, 183, 29, 0.8);
  color: #eee;
  text-shadow: none;
}


.college-logo{
	background:url(../img/college-logo.png) no-repeat;
	background-size:contain;
	position:absolute;
	float:right;
	right:10px;
	top:10px;
	width:80px;
	height:80px;
	z-index:1000;
}
.header-logo{
	position:absolute;
	float:left;
	left:80px;
	top:0px;
	background:rgba(0,255,0,0.5);
	height:150px;
	width:100%;
}
.home-box{
	position:absolute;
	overflow:visible;	
	float:bottom;
	top:175px;
	left:130px;
	right:50px;
	bottom:115px;
	background:rgba(0,0,0,0);
	border:1px solid #f00;
	border-radius:10px;
	padding:2% 2% 2% 2%;
}
.home-box .left-box{
	position:relative;
	height:100%;
	float:left;
	width:74%;
	background:rgba(255,255,255,0.2);
}

.home-box .right-box{
	position:relative;
	float:right;
	height:100%;
	width:24%;
	background:rgba(255,255,255,0.2);
	overflow-x:hidden;
	overflow-y:scroll;
}

.styleScroll::-webkit-scrollbar {
    width: 12px;
}
.styleScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
.styleScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.sponsors-strip{
	position:absolute;
	float:bottom;
	bottom:0px;
	height:100px;
	width:100%;
	left:0px;
	right:0px;
	background:rgba(0,0,0,0.3);
}


.social-box{
	position:fixed;
	z-index:100;
	float:bottom;
	right:0px;
	bottom:0px;
	width:40px;
	height:40px;
	background:rgba(255,0,0,0.6);
}
.social-box:hover{
	transform-origin:100% 100%;
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
	
	-moz-transform:scale(2);
	-webkit-transform:scale(2);
	transform:scale(2);
}

.eventCat{
	cursor:pointer;
}

.scheduleImg,.galleryPane,.mapPane{
	position: absolute;
	display: block;
	height: 13.5%;
	width: inherit;
	border: 0px #fff solid;
	margin-right: 40px;
	background: rgba(200,200,200,0.5);
	margin: 0 auto;
	overflow:hidden;
}

.galleryThumb{
	position:relative;
	float:left;
	display:inline-block;
	background:rgba(200,200,200,0.5);
	width:60%;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
.galleryImage{
	position:relative;
	float:right;
	display:inline-block;
	background:rgba(200,200,200,0.5);
	width:40%;
	height:100%;
	border-left:1% solid #111;
	vertical-align:middle;
	
}

.mapPane .googlemap{
	display:none;
}
.mapMap{
	display:inline-block;
	float:left;
	width:60%;
	height:80%;
	background:rgba(00,00,00,0.5);
	padding:5px;
	border:5px solid #fff;
}
.mapAddress{
	position:relative;
	display:inline-block;
	text-align:center;
	margin-left:10px;
	margin-top:0px;
	padding:2.5%;
	height:30%;
	width:350px;
	background:rgba(0,0,0,0.2);
}
.mapOrganisers{
	position:relative;
	display:inline-block;
	width:auto;
	text-align:center;
	margin-left:10px;
	margin-top:2.5%;
	width:350px;
	padding:2.5%;
	height:29.1%;
	background:rgba(0,0,0,0.2);
}
.mapAddress h2{
	line-height:15px;
}
.mapOrganisers:hover,.mapAddress:hover{
	background:rgba(0,0,0,0.5);
}
.mapDesc{
	display:inline-block;
	float:right;
	width:10%;
	height:97%;
	background:rgba(200, 120, 0, 0.5);
	padding:0% 1% 1% 1%;
	overflow-x:hidden;
	overflow-y:scroll;
}

.menuAll{
	cursor:pointer !important;
	display:inline-block;
	position:relative;
	height:52px !important;
	width:80px !important;
	z-index:99999;
	background-position-x: 20px !important;
	left:-30px;
	text-align:right;
}
.menuAll:hover{
	-webkit-transform:translateX(20px);
}
.menuHome{
	background:url(../img/home.png) no-repeat;
	background-size:contain;
	background-color:#069ad5 !important;
}
.menuHome:hover{
	background:url(../img/home_b.png) no-repeat;
	z-index:0;
	display:inline-block;
	background-size:contain;
	/*-webkit-filter: drop-shadow(0px 0px 3px rgba(255,255,255,0.7));*/
}
.menuEvents{
	background:url(../img/events.png) no-repeat;
	background-size:contain;
	background-color:#eb9605 !important;
}
.menuEvents:hover{
	background:url(../img/events_b.png) no-repeat;
/*-webkit-filter: drop-shadow(0px 0px 3px rgba(255,255,255,0.7));*/
	background-size:contain;
}
.menuSchedule{
	background:url(../img/schedule.png) no-repeat;
	background-size:contain;
	background-color:#fc5215 !important;
}
.menuSchedule:hover{
	background:url(../img/schedule_b.png) no-repeat;
/*-webkit-filter: drop-shadow(0px 0px 3px rgba(255,255,255,0.7));*/
	background-size:contain;
}
.menuGallery{
	background:url(../img/gallery.png) no-repeat;
	background-size:contain;
	background-color:#30b71d !important;
}
.menuGallery:hover{
	background:url(../img/gallery_b.png) no-repeat;
/*-webkit-filter: drop-shadow(0px 0px 3px rgba(255,255,255,0.7));*/
	background-size:contain;
}
.menuReachus{
	background:url(../img/reachus.png) no-repeat;
	background-size:contain;
	background-color:#3cb5a2 !important;
}
.menuReachus:hover{
	background:url(../img/reachus_b.png) no-repeat;
/*-webkit-filter: drop-shadow(0px 0px 3px rgba(255,255,255,0.7));*/
	background-size:contain;
}

.ThreeDee {
font-family: Garamond, serif;
line-height: 1em;
color: #dedede;
font-size: 175px;
text-shadow:0px 0px 0 rgb(185,185,185),-1px 0px 0 rgb(181,181,181),-2px 0px 0 rgb(177,177,177),-3px 0px 0 rgb(173,173,173),-4px 0px 0 rgb(169,169,169),-5px 0px 0 rgb(165,165,165),-6px 0px 0 rgb(161,161,161),-7px 0px 0 rgb(157,157,157),-8px 0px 0 rgb(153,153,153), -9px 0px 0 rgb(149,149,149),-10px 0px 9px rgba(0,0,0,0.5),-10px 0px 1px rgba(0,0,0,0.5),0px 0px 9px rgba(0,0,0,.2);
}